body{
    background-color: #000;
}
html{
    scroll-behavior: smooth;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: none;
    height: auto;
    width: 100%;
    text-align: end;
    margin: 10px;
    font-size: 14px;
}
#rjdtText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 400px;
    color: #e7e7e7;
}
.navBtn{
    background-color: #171717;
    border: 1px solid #838383;
    border-radius: 5px;
    color: #e7e7e7;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
}
.navUl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 14px;
    gap: 3px;
}
.navBtn:hover{
    background-color: #171717;
    color: #e7e7e7;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 20px;
}
#introImg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.introFont{
    color: #e7e7e7;
    font-size: 40px;
    font-family: Arial, sans-serif;
    margin: 10px;
}
.introFontp{
    color: #e7e7e7;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-left: 10px;
}
.textIntro{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: auto;
    margin-left: 30px;
}
.textIntro div{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
}
.talkBtn{
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    background-color: #171717;
    color: #e7e7e7;
    border: solid #838383 1px;
    padding: 10px;
    height: auto;
    width: 20%;
    margin-top: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-size: 20px;
}
.talkBtn:hover{
    background-color: #023859;
    color: white;
    border: solid #838383 1px;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
#addStat{
    display: flex;
    flex-direction: row;
}
#addStat  h2, p{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#addStat p{
    font-size: 16px;
}
#addStat div{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}
#firstScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}
#secondPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic Medium';
    color: #e7e7e7;
}
.secondPageTitle{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #e7e7e7;
    border-radius: 8px;
    border-bottom: #000 5px solid;
}

.aboutme-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.aboutme-text-container p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    text-align: center;
    color: #e7e7e7;
}
.approach-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.approach-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    padding: 8px;
    border-radius: 12px;
    border: solid #838383 1px;
    width: 30%;
    height: auto;
    margin: 10px;
}
.approach-item h4, p{
    color: #e7e7e7;
    opacity: 1;
}
.approach-item:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
#skills{
    background-color: #171717;
    border: solid #838383 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 12px;
}
.skill-container{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.HTML5-skill{
    border: solid 2px cyan;
    background-color: #171717;
    width: 80%;
    border-radius: 5px;
}
.HTML5-skill-level{
    background-color: white;
    border: solid 3px white;
    width: 95%;
}
.CSS-skill-level{
    background-color: white;
    border: solid 3px white;
    width: 84%;
}
.ES6-skill-level{
    background-color: white;
    border: solid 3px white;
    width: 78%;
}
.PHP-skill-level{
    background-color: white;
    border: solid 3px white;
    width: 57%;
}
.Postgre-skill-level{
    background-color: white;
    border: solid 3px white;
    width: 33%;
}
#skills:hover{
    border: solid 1px #e7e7e7;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
/*Project ni*/
#Projects{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#project-container{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 10px;
}
#project-container div{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    background-color: #171717;
    border: solid 1px #171717;
    border-radius: 12px;
}
#project-container div:hover{
    border: solid 1px oklch(100% 0.00011 271.152);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
#project-container h2{
    color: white;
}
#project-container a{
    color: oklch(100% 0.00011 271.152);
    text-decoration: none;
    background-color: #171717;
    padding: 8px;
    border-radius: 12px;
    border: solid 1px #171717;
}
#project-container a:hover{
    border: solid 1px oklch(100% 0.00011 271.152);
}

.thirdPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#e7e7e7;
    font-family: 'Franklin Gothic Medium';
}
.thirdPage-Label{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #e7e7e7;
}
.service-offerings-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #e7e7e7;

}
.service-container{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    padding: 8px;
    border-radius: 12px;
    width: 20%;
    margin: 2%;
    border: solid #838383 1px;
}
.service-container:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.service-container h3{
    text-align: center;
    font-size: 22px;
}
/*Contactg ni*/
#contact{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-heading{
    color: white;
}
#contact-contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 12px;
    border-radius: 12px;
    color: white;
}
#contact-container{
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
    margin: 5px;
    border-radius: 8px;
}
#contact-container div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 12px;
}

#backbtn{
    background-color: #171717;
    border: solid 1px #171717;
    padding: 8px;
    border-radius: 8px;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}
#backbtn:hover{
    border: solid 1px white;
}


footer{
    display: flex;
    flex-direction: column;
}
#footer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #e7e7e7;
    font-family: 'Franklin Gothic Medium';
    margin-top: 30px;
    background-color: #171717;
}
.img-footer{
    width: 8%;
    height: 8%;
}
.social-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#copyright{
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}
.info-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}
.outer-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}
section{
    margin: 110px;
}