body{
    background-color: #023859;
}

.navigation{
    background-color: none;
    height: auto;
    width: auto;
    text-align: end;
    margin: 10px;
}
#rjdtText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    margin-right: 400px;
    color: white;
}
.navBtn{
    background-color: #26658c;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
}
#introImg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: right;
    margin-right: 200px;
    margin-top: 100px;
    display: block;
}
.introFont{
    color: white;
    font-size: 40px;
    font-family: Arial, sans-serif;
    margin: 10px;
}
.introFontp{
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    margin: 10px;
    margin-bottom: 50px;
}
.textIntro{
    float: left;
    margin-top: 150px;
    margin-left: 110px;
    width: auto;
    height: 300px;
}

#talkBtn{
    border-radius: 30px;
    background-color: #26658c;
    color: black;
    border: solid black 3px;
    padding: 10px 20px;
    height: auto;
    width: auto;
    margin-top: 30px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}